@import url("https://fonts.googleapis.com/css2?family=Nova+Round&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nova Round", cursive;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

button {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  background-color: transparent;
  cursor: pointer;
  margin: 1rem;
}

button:hover {
  background-color: crimson;
  color: ghostwhite;
}

header,
footer {
  padding: 2rem;
}

header {
  background-color: crimson;
  color: ghostwhite;
}

main {
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem;
  margin: 2rem 1rem;
  padding-bottom: 4rem;
}

section {
  padding: 1rem;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaflet-container {
  height: 70vh;
  width: 70vw;
}

.leaflet-marker-icon {
  width: 20px;
  margin: 0;
}

.leaflet-popup-content {
  font-family: "Nova Round", cursive;
  text-transform: uppercase;
}

table td {
  padding: 1rem;
}

footer {
  display: flex;
  height: 4rem;
  padding: 1rem;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  background-color: #333;
}

footer a {
  color: ghostwhite;
}

footer a :hover {
  color: crimson;
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
  }
}
